@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: rgb(245, 245, 245) !important;
}

.custom-font {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  font-family: 'Alumni Sans', sans-serif;
}

#company-logo {
  filter: invert(40%) sepia(63%) saturate(528%) hue-rotate(100deg) brightness(92%) contrast(90%);
}

#hero-section {
  background-image: url("imgs/page-header.png");
  background-repeat: no-repeat;
  height: 80vh;
  object-fit: cover;
}

.hover-green {
  background-color: white;
  color: black;
}

.hover-green:hover {
  background-color: #198754;
  color: white;
}
