@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

:root {
  --dark-green: #013220;
  --mid-green: #004225;
  --light-green: #087830;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--dark-green);
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.front-box {
  background-color: var(--mid-green);
  text-align: center;
  padding: 5rem 5rem;

  border-radius: 2rem;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

#count {
  font-size: 10rem;
  font-weight: 700;
  color: white;
  margin: 0 0 5rem;
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-weight: 700;
  color: white;
  cursor: pointer;

}

#add, #subtract, #restart {
  font-size: 3.5rem;
  padding: 0.3rem 3rem;
}

#add, #subtract, .other-buttons {
  background-color: var(--light-green);
  border: 3px solid var(--light-green);
  border-radius: 0.5rem;
}

#restart {
  background-color: var(--mid-green);
  border: 3px solid var(--light-green);
  border-radius: 0.5rem;
}

.custom-count {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 1rem 0 0;
}

.custom-count-buttons {
  display: flex;
  gap: .5rem;
}

.other-buttons {
  padding: 0.2rem 1.43rem;
}

.custom-count-input {
  flex: 1;
}

.user-custom-num {
  float: right;

  border: none;
  border-bottom: 2px solid white;
  padding: .5rem 1rem;
  background-color: transparent;
  color: white;
  font-family: "Rubik", sans-serif;
}

.user-custom-num:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
