#color-card {
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: var(--main-color);
  padding: 2.5rem 5rem;
  
  border: 1px solid transparent;
  border-radius: 2rem;
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 2rem 3rem;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

#hex-container {
  display: grid;
}

.gradient {
  grid-template-columns: 20rem 20rem;
}

.palette {
  grid-template-columns: 15rem 15rem 15rem 15rem;
}

.color-container {
  margin: 0 auto;
  width: 80%;
  height: 25vh;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-container:hover {
  opacity: 70%;
}

.one {
  background-color: var(--color1);
}

.two {
  background-color: var(--color2);
}

.three {
  background-color: var(--color3);
}

.four {
  background-color: var(--color4);
}

.lock-button {
  color: var(--greyed);
  stroke: rgb(209, 209, 209);
  stroke-width: .4px;
}

.hex-code {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* slider */
.rgb-finder {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.color-slider {
  display: grid;
  grid-template-columns: 2rem 1fr 5rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.color-box-container {
  height: 100%;
  width: 100%;
}


.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

input[type=number] {
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid black;
  padding-left: .5rem;
  font-weight: 500;
}

input[type=number]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* button */
button {
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  opacity: 0.95;
  margin-top: 0.8rem;
  color: var(--main-color);
}

button:hover {
  opacity: 1;
}

#generate-button {
  background-color: var(--secondary);
  padding: 1rem 2.5rem;
}