@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --background: #f4f5f8;
  --main-color: #ffff;
  --secondary: #4ed2ff;
  --tertiary: #e4e9f7;
  --font-color1: black;
  --greyed: rgb(78, 78, 78);
  --green: rgb(30, 192, 30);
  --color1: red;
  --color2: green;
  --color3: blue;
  --color4: yellow;
  --logo-color: invert(35%) sepia(66%) saturate(4422%) hue-rotate(330deg) brightness(94%) contrast(99%);
  --menu-color: invert(86%) sepia(31%) saturate(5624%) hue-rotate(166deg) brightness(102%) contrast(101%);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  
}

.background {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color1);
}

.content-center {
  /* border: 1px solid var(--secondary); */
  width: 45%;
  height: 100vh;
}



/* HEADER */

.top-bar {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.site-logo {
  flex: 1;
}

a {
  color: black;
  text-decoration: none;
}

.site-logo a {
  display: grid;
  grid-template-columns: 2.4rem auto;
  gap: 1.4rem;
  align-items: center;
}

.site-logo img {
  height: 3.2rem;
  filter: var(--logo-color)
}

.site-name {
  margin: 0.7rem 0;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--font-color1);
}

.site-name span {
  color: var(--secondary);
}

.menu {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu img {
  height: 1.5rem;
  filter: var(--menu-color);
  opacity: 65%;
  transition: opacity 15ms;
}

.menu img:hover {
  opacity: 100%;
}



/* NAVIGATION CONTROLS */

.navbar {
  background-color: var(--tertiary);
  border-radius: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  opacity: 80%;
}

.navbar ul {
  padding: 0;
}

.navbar ul > li {
  display: inline;
  list-style: none;
  margin: 1rem 2.5rem;
  cursor: pointer;

  font-size: 1.1rem;
  font-weight: 600;
}

.navbar ul > li > a:hover {
  color: #4ed2ff;
}


